if condition1:
    task1 block of code
elif condition2:
    task2 block of code
elif condition3:
    task3 block of code
    .
    .
    .
elif condition n:
     task n
else:
    task4 block of code

In [1]:
x=9
if x%2==0:
    print("Even")
else:
    print("odd")

odd

In [3]:
x=8

In [5]:
x%2==0

True

In [17]:
x=50
if x>0:
    print('pos')
    if x>10:
        print('m')
    elif x<10:
        print('k')
    else:
        print('t')
elif x<0:
    print('neg')
    if x<-20:
        print('q')
    elif x>-10:
        print('c')
    elif x>-30:
        print('z')
else:
    print('zero')

pos
m

In [47]:
x='telangana'
if x[0]== 't' or x[0]=='T':
    print('yes')
else:
    print('no')

yes

In [63]:
x=input("enter a number: ")
if x[0]== '2':
    print('yes')
else:
    print('no')

enter a number:  256

yes