In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
df=sns.load_dataset('taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [7]:
df.sample(10)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
5509,2019-03-06 16:47:56,2019-03-06 17:07:03,1,3.24,15.5,3.46,0.0,20.76,green,credit card,Washington Heights South,Bloomingdale,Manhattan,Manhattan
315,2019-03-12 23:55:59,2019-03-13 00:06:04,1,1.20,8.0,1.50,0.0,13.30,yellow,credit card,Hudson Sq,Lower East Side,Manhattan,Manhattan
5203,2019-03-02 18:08:15,2019-03-02 18:32:16,3,5.50,20.5,0.00,0.0,23.80,yellow,credit card,Bloomingdale,West Chelsea/Hudson Yards,Manhattan,Manhattan
553,2019-03-01 17:20:40,2019-03-01 17:24:49,1,0.83,5.0,1.86,0.0,11.16,yellow,credit card,Upper East Side North,Upper East Side South,Manhattan,Manhattan
3739,2019-03-10 12:04:04,2019-03-10 12:11:33,1,1.03,6.5,1.96,0.0,11.76,yellow,credit card,Midtown North,Lincoln Square East,Manhattan,Manhattan
1087,2019-03-23 18:35:04,2019-03-23 18:45:07,1,1.50,8.0,0.00,0.0,8.80,yellow,cash,Astoria,Astoria,Queens,Queens
5368,2019-03-18 06:52:57,2019-03-18 06:56:46,1,0.70,4.5,1.55,0.0,9.35,yellow,credit card,Midtown North,Midtown Center,Manhattan,Manhattan
4907,2019-03-01 23:48:39,2019-03-02 00:01:19,1,1.30,9.5,2.65,0.0,15.95,yellow,credit card,Lower East Side,Greenwich Village North,Manhattan,Manhattan
942,2019-03-16 16:39:19,2019-03-16 17:04:00,2,4.37,20.5,5.95,0.0,29.75,yellow,credit card,West Chelsea/Hudson Yards,Manhattan Valley,Manhattan,Manhattan
2816,2019-03-19 00:33:09,2019-03-19 00:44:53,1,2.12,10.5,0.00,0.0,11.80,yellow,cash,Woodside,North Corona,Queens,Queens

In [9]:
df['payment'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
Name: payment, Length: 6433, dtype: bool

In [11]:
df['color'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
Name: color, Length: 6433, dtype: bool

In [13]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [21]:
(df.isnull().sum()/6433)*100

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
pickup_zone        0.404166
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64

In [23]:
(df.isnull().sum()/df.shape[0])*100

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
pickup_zone        0.404166
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64